@font-face {
    font-family: 'MatissePro';
    src: url('fonts/MatissePro.eot');
    src: url('fonts/MatissePro.eot?#iefix') format('embedded-opentype'),
        url('fonts/MatissePro.woff2') format('woff2'),
        url('fonts/MatissePro.woff') format('woff'),
        url('fonts/MatissePro.ttf') format('truetype'),
        url('fonts/MatissePro.svg#svgFontName') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MatissePro';
    src: url('fonts/MatissePro-Light.eot');
    src: url('fonts/MatissePro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/MatissePro-Light.woff2') format('woff2'),
        url('fonts/MatissePro-Light.woff') format('woff'),
        url('fonts/MatissePro-Light.ttf') format('truetype'),
        url('fonts/MatissePro-Light.svg#svgFontName') format('svg');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MatissePro';
    src: url('fonts/MatissePro-Bold.eot');
    src: url('fonts/MatissePro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/MatissePro-Bold.woff2') format('woff2'),
        url('fonts/MatissePro-Bold.woff') format('woff'),
        url('fonts/MatissePro-Bold.ttf') format('truetype'),
        url('fonts/MatissePro-Bold.svg#svgFontName') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@media (max-width: 2000px) {
    html {
        font-size: 11px;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 7px;
    }
}

@media (max-height: 700px) {
    textarea.input {
        height: 8rem;
        max-height: 8rem;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 5px;
    }
}

* {
    font-family: 'MatissePro';
}

:root{
    --background-color: #000000;
    --primary-color: #ffffff;
    --highlight-color: #672713;
}

::selection {
    background: var(--highlight-color);
}

body {
    color: white;
    background: url("img/bonfire2.png") center/cover fixed;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: var(--background-color);
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

p{
    margin: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-container {
    margin-top: 3vh;
    margin-bottom: 0.7vh;
    box-shadow: inset 0px 2px 6px#31291E;
    padding-top: 0.3vh;
}

.button {
    font-size: 2.7rem;
	border: none;
    color: white;
    background-color: #00000000;
    box-shadow: inset 0px -2px 6px #31291E, inset -10px 0px #000000, inset 10px 0px #000000;
    width: 100%;
    margin: 0px;
    cursor: pointer;
}

.content:hover {
	background-color: #672713;
    box-shadow: inset 0px -2px 6px #31291E, inset 3px 3px 5px #000000, inset -3px -3px 5px #000000;
}

.empty {
    color: #000000;
    cursor: initial;
}

.menu-button {
    text-align: left;
}

/*-----------WINDOWS----------*/

.window {
    outline: double 5px #202020;
    outline-offset: 30px;
    background-color: black;
    width: 26vw;
    position: absolute;
    left: 8vw;
    top: 20vh;
}

.window-border {
    position: relative;
    padding: 3px;
    box-shadow: inset -2px -2px 6px#31291E, inset 2px 2px 6px#31291E;
}

.window-container {
    width: 33vw;
    height: 70vh;
    position: absolute;
    right: 3vw;
    top: 15vh;
}

.window2 {
    background-color: black;
    width: 100%;
    height: 100%;
}

.window-body {
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow: hidden;
    border-bottom: double 4px #332f2c;
    font-size: 2rem;
    flex-flow: wrap;
    padding: 0.1rem;
    box-sizing: border-box;
}

#win1, #win2, #win3, #win4, #win5 {
    display: none;
    z-index: 1;
}

.stick {
    display: inline-block;
}

.title-bar-text {
    display: flex;
    width: 100%;
    height: 7rem;
    padding-bottom: 10px;
}

.text-container {
    width: 100%;
}

.text1 {
    font-size: 2.7rem;
    border-bottom: double 4px #332f2c;
}

.text2 {
    font-size: 1.7rem;
    box-shadow: 0px 3px 3px #584330;
}

.title-bar-padding {
    font-size: 1rem;
    color: #000000;
}

.button-container.ok-button {
    width: 35%;
    margin-top: 1.5vh;
    margin-bottom: 0px;
    padding-top: 0.6vh;
    box-shadow: inset 0px 2px 6px #31291E;
}

.icon {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: #dcc963;
}

a:hover {
    color: #672713;
    background: none;
}

a:hover::selection {
    color: #524f4e;
}

/*----------ICONS----------*/
.icon-spot {
    width: 6.4rem;
    height: 6.4rem;
    text-align: center;
    border: solid 1px #fff0;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-icon {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.icon-title {
    font-size: 1.7rem;
    text-align: center;
    color: #ffffff;
}

/*----------FORM----------*/
.contact-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.form-input-container {
    width: 100%;
}

.form-input-container label {
    margin: 5px 0;
}

.input, .input-btn {
    font-size: 2rem;
    font-family: inherit;
}

textarea.input {
    resize: none;
    height: 12rem;
    max-height: 12rem;
}

.style-box {
    padding: 16px;
    color: inherit;
    background-color: #000000;
	border: none;
    box-shadow: inset 0px -2px 6px #31291E, inset -10px 0px #000000, inset 10px 0px #000000;
    width: 100%;
    margin: 0px;
}

.button-container.ok-button.contact-button {
    width: 100%;
}

.success-window {
    z-index: 2;
    display: flex;
    font-size: 2.7rem;
    background-color: black;
    width: 26vw;
    margin-top: 40vh;
    justify-content: center;
    padding: 10px;
}